
.rating{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.rating_sign_label {
    /* position: relative; */
    z-index: 10;
}

.rating_sign_input{
    display: none;
    /* margin: 0; */
    /* position: absolute; 
    top: 10px;   
    left: 10px; */
    /* opacity: 0; */
}

.check{
    color: orange;
}
.rating_value {
    font-size: 18px;
    color: grey;
}